.form-container {
  max-width: 1120px;
  margin: 20px auto ;
  width: 98%;
  background-color: #fff;
  box-shadow: 0px 0px 5px #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
  gap: 10px;
}

@media (max-width: 750px) {
  .form-container {
    display: grid;
  }

  .input-container {
    display: flex;
    flex-direction: column;
  }
}

.input-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.input-container input {
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  margin-left: 3px;
}

.radio-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.radio-container input {
  margin-left: 10px;
  accent-color: black;
  margin-top: 0;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: teal;
}