.container-form {
  max-width: 1120px;
  margin: 20px auto;
  width: 98%;
  background-color: #fff;
  box-shadow: 0px 0px 5px #ccc;
  border-radius: 5px ;
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
  gap: 10px;
}

@media (max-width: 750px) {
  .container-form {
    display: grid;
  }
  .input-content {
    display: flex;
    flex-direction: column;
  }
};

.container-radio {
  display: flex;
  align-items: center;
}

.container-radio input {
  margin-left: 20px;
  accent-color: orange;
  margin-top: 0;
}

.description, .value {
  /* background-color: lightblue; */
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px ;
  border: 1px solid #ccc;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: teal;
}