.container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px 15px;
  width: 30%;
}

.header {
  background-color: lightblue;
  border: 2px solid red;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 10px;
}

svg {
  width: 25px;
  height: 25px;
}

p {
  color: black;
  font-size: 20px;
}

span {
  font-size: 30px;
  font-weight: bold;
}

@media (max-width: 750px)  {
  .container-card {
    width: 20%;
  }
  
  p {
    font-size: 12px;
  }
  
  span {
    font-size: 20px;
  }
  
  svg {
    display: none;
  }
};